{#
| Variable                   | Type        | Description                                                          |
|----------------------------|-------------|----------------------------------------------------------------------|
| page                       | object      |                                                                      |
| page.title                 | string      | *could be html                                                       |
| page.slug                  | string      | ex: "cat.show"                                                       |
| category                   | ?Category   |                                                                      |
| category.name              | string      |                                                                      |
| category.url               | string      |                                                                      |
| category.sub_categories    | ?Category[] |                                                                      |
| category.image             | ?string     |                                                                      |
| filters                     | bool        | is filters allowed here or not                                        |
| sort_options[]             | SortList[]  |                                                                      |
| sort_options[].id          | string      | ourSuggest, bestSell, topRated, priceFromTopToLow, priceFromLowToTop |
| sort_options[].name        | string      |                                                                      |
| sort_options[].is_selected | bool        | Is current page sorted by it                                         |
| search_query               | ?string     |                                                                      |
#}
{# {% extends "layouts.master" %}
{% block content %}
    <div class="container px-2.5 ms:px-5 mb-10">
    
        <nav class="breadcrumbs w-full py-5">
            {% component 'header.breadcrumbs' %}
        </nav>
        <div class="flex items-start flex-col md:flex-row">
            {% if filters %}
                <button class="btn--close-sm close-filters sicon-cancel hidden"></button>
                <salla-filters class="md:w-72 lg:sticky lg:top-20 flex-none" id="filters-menu"></salla-filters>
            {% endif %}

            <div class="main-content flex-1 w-full {{ filters ? 'ltr:lg:ml-8 rtl:lg:mr-8' : '' }}">
                <div class="mb-4 sm:mb-6 flex justify-between items-center">
                    <h1 class="font-bold text-xl rtl:pl-3 ltr:pr-3" id="page-main-title">{{ page.title|raw }}</h1>
                    <div class="flex items-center space-x-2 rtl:space-x-reverse">
                        {% if filters %}
                            <a href="#filters-menu"
                               class="filters-trigger bg-border-color text-primary lg:hidden mt-2">
                                <i class="sicon-filter text-gray-text text-2xl me-2.5"></i>
                            </a>
                        {% endif %}
                        {% if sort_options|length %}
                            <div class="flex items-center">
                                <label class="hidden sm:block rtl:ml-3 ltr:mr-3 whitespace-nowrap"
                                       for="product-filter">{{ trans('pages.categories.sorting') }}</label>
                                <select id="product-filter" class="form-input pt-0 pb-1 rtl:md:pl-10 ltr:md:pr-10">
                                    {% for sort in sort_options %}
                                        <option value="{{ sort.id }}" {{ sort.is_selected?'selected':'' }}>{{ sort.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    </div>

                </div>

                {% hook 'product:index.items.start' %}
                <div class="flex min-h-screen">
                    <salla-products-list class="flex-1 min-w-0 overflow-auto "
                        source="{{ page.slug }}"
                        source-value="{{ page.id }}"
                        {{ filters ?'filters-Results':'' }}>
					          </salla-products-list>
                </div>
                {% hook 'product:index.items.end' %}
            </div>
        </div>
    </div>


    {% if store.settings.category.testimonial_enabled %}
        {% component 'home.testimonials' %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script defer src="{{ 'product.js' | asset }}"></script>
{% endblock %} #}

{% extends "layouts.master" %}
{% block content %}
    <div class="productDetailsBody">
        <div class="ProductDetailscontainer">
            <div class="title">تفاصيل المنتج</div>
            <div class="detail">
                <div class="content">
                <h1 class="name">كرسى </h1>

                <div class="price">300</div>
                <div class="selectSize">
                    <div class="select ">
                    <div
                        class="selected"
                        data-default="إختر المقاس"
                        data-one="Small"
                        data-two="Meduim"
                        data-three="Large"
                    >
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="1em"
                        viewBox="0 0 512 512"
                        class="arrow"
                        >
                        <path
                            d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                        ></path>
                        </svg>
                    </div>
                    <div class="options">
                        <div title="all">
                        <input id="all" name="option" type="radio" checked="" />
                        <label
                            class="option"
                            for="all"
                            data-txt="إختر المقاس"
                        ></label>
                        </div>
                        <div title="option-1">
                        <input id="option-1" name="option" type="radio" />
                        <label class="option" for="option-1" data-txt="Small"></label>
                        </div>
                        <div title="option-2">
                    
                        <input id="option-2" name="option" type="radio" />
                        <label class="option" for="option-2" data-txt="Meduim"></label>
                        </div>
                        <div title="option-3">
                        <input id="option-3" name="option" type="radio" />
                        <label class="option" for="option-3" data-txt="Large"></label>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="buttons">
                    <button>السلة</button>
                    <button>
                    إضافة للسلة
                    <span>
                        <svg
                        class=""
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 18 20"
                        >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"
                        />
                        </svg>
                    </span>
                    </button>
                </div>
                <div class="description">
                وصف المنتج
                </div>
                </div>
                <div class="productDetailsImage">
                <input type="radio" name="color" id="color-1" checked hidden />
                <input type="radio" name="color" id="color-2" hidden />
                <input type="radio" name="color" id="color-3" hidden />
                <input type="radio" name="color" id="color-4" hidden />

                <div class="product">
                    <img src="{{ asset('images/2.png') }}" alt="Product" />
                </div>

                <div class="product-nav">
                    <label for="color-1"></label>
                    <label for="color-2"></label>
                    <label for="color-3"></label>
                    <label for="color-4"></label>
                </div>
                </div>
            </div>

        <br>
        <br>
        <br>
        <div class="title">المراجعات </div>
        <div class="commentSection" id="commentSection">
            <div class="commentContainer" >
            <div class="comment">
                <h3>Ahmed </h3>
                <p>منتج رائع  </p>
            </div>
            <img src="{{ asset('images/profile.png') }}" alt=""  >
            </div>

            <div class="commentContainer">
            <div class="comment">
                <h3>Fatma </h3>
                <p>منتج رائع  </p>
            </div>
            <img src="{{ asset('images/profile.png') }}" alt=""  >
            </div>
            <div class="commentContainer">
            <div class="comment">
                <h3>aya </h3>
                <p>منتج رائع  </p>
            </div>
            <img src="{{ asset('images/profile.png') }}" alt=""  >
            </div>
        </div>

        <div class="title">أضف مراجعة </div>
        <div class="addcommentSection">
            <div class="form-container">
            <form class="form">
                <div class="form-group">
                <label for="email">إسم المستخدم</label>
                <input type="text" id="username" name="username" required="">
                </div>
                <div class="form-group">
                <label for="textarea">تعليقك</label>
                <textarea name="textarea" id="comment" rows="10" cols="50" required="">          </textarea>
                </div>
                <button class="form-submit-btn" type="submit" onclick="addcomment(event)">إضافة</button>
            </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let commentContainer = document.getElementById("commentSection");
        let username = document.getElementById("username");
        let comment = document.getElementById("comment");
        console.log(commentContainer)



        function addcomment(e) {
            e.preventDefault();
            commentContainer.innerHTML += `<div class="commentContainer">
            <div class="comment">
            <h3>${username.value} </h3>
            <p>${comment.value} </p>
            </div>
            <img src="{{ asset('images/profile.png') }}" alt=""  >
        </div>
        `
        }
    </script>
{% endblock %}
