{# <div class="container">
    <div class="row justify-content-center">
    {% for slide in component.slides %}
        <div class="col-5 col-md-4 col-lg-2 mt-4">
            <div class="c4">
                <div class="c4-details" style="background-image: url({{slide.image}}); background-position: center; background-repeat: no-repeat;">
                    <div class="m-2" style="justify-self: end;height: fit-content;">
                        <div class="bg-light rounded-5 p-2">
                            <div class="heart-container" style="width: 15px; height: 15px;" title="Like">
                                <input type="checkbox" class="checkbox" id="Give-It-An-Id">
                                <div class="svg-container">
                                    <svg viewBox="0 0 24 24" class="svg-outline" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                        </path>
                                    </svg>
                                    <svg viewBox="0 0 24 24" class="svg-filled" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                        </path>
                                    </svg>
                                    <svg class="svg-celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                        <polygon points="10,10 20,20"></polygon>
                                        <polygon points="10,50 20,50"></polygon>
                                        <polygon points="20,80 30,70"></polygon>
                                        <polygon points="90,10 80,20"></polygon>
                                        <polygon points="90,50 80,50"></polygon>
                                        <polygon points="80,80 70,70"></polygon>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-body mx-2 my-2" style="overflow: hidden; text-overflow: ellipsis; word-wrap: break-word;">{{slide.description}}</p>
                <p class="mx-2 mb-4 mt-2 text-primary text-price">{{slide.price}} $</p>
                <button class="c4-button"><i class="bi bi-cart-fill"></i> Add</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div> #}


<div class="container-fluid">
    <div class="row justify-content-center">
    {% for product in component.products %}
        <div class="col-10 col-md-5 col-lg-2 mt-4">
            <div class="c4 rounded-4">
                <a href="{{product.url}}">
                    <div class="c4-details" style="background-image: url({{product.image.url}}); background-position: center; background-repeat: no-repeat;">
                        <div class="m-2" style="justify-self: end;height: fit-content;">
                            <div class="bg-light rounded-5 p-2">
                                <div class="heart-container" style="width: 15px; height: 15px;" title="Like">
                                    <input type="checkbox" class="checkbox" id="Give-It-An-Id">
                                    <div class="svg-container">
                                        <svg viewBox="0 0 24 24" class="svg-outline" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                            </path>
                                        </svg>
                                        <svg viewBox="0 0 24 24" class="svg-filled" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                            </path>
                                        </svg>
                                        <svg class="svg-celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                            <polygon points="10,10 20,20"></polygon>
                                            <polygon points="10,50 20,50"></polygon>
                                            <polygon points="20,80 30,70"></polygon>
                                            <polygon points="90,10 80,20"></polygon>
                                            <polygon points="90,50 80,50"></polygon>
                                            <polygon points="80,80 70,70"></polygon>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>   
                <p class="text-body mx-2 my-2 text-end" style="overflow: hidden; text-overflow: ellipsis; word-wrap: break-word;">القي نظره علي واحده من افضل مجموعات المنتجات في العالم</p>
                <p class="mx-2 mb-4 mt-2 text-primary text-price text-end">السعر: {{product.price}} ر.س</p>
                {# <button class="c4-button"><i class="bi bi-cart-fill"></i> Add</button> #}
                <form class="form product-form" enctype="multipart/form-data" method="post"
                    onsubmit="return salla.form.onSubmit('cart.addItem', event)">
                    <input type="hidden" name="id" value="{{ product.id }}">
                    {% if product.is_hidden_quantity or product.type == 'booking' %}
                        <input type="hidden" value="1" name="quantity" aria-label="Quantity"/>
                    {% else %}
                        <div class="sticky-product-bar__quantity center-between mb-5" hidden>
                            <label class="form-label font-bold">
                                {{ trans('pages.products.quantity') }}
                            </label>
                            <salla-quantity-input max="{{ product.max_quantity }}" value="1" name="quantity" aria-label="Quantity"
                            class="border-gray-200 flex justify-end"></salla-quantity-input>
                        </div>
                    {% endif %}

                    <salla-add-product-button
                        quick-buy
                        support-sticky-bar
                        {{product.is_require_shipping ? 'required-shipping' : ''}}
                        amount="{{ product.base_currency_price }}"
                        class="mt-2 w-full sticky-product-bar__btn"
                        product-status="{{ product.status }}"
                        product-type="{{ product.type }}"
                        product-id="{{ product.id }}"
                        loader-position="end"
                        type="submit"
                        width="wide"
                        
                        {% if product.notify_availability %}
                            {{ product.notify_availability.subscribed ? 'is-subscribed' : '' }}
                            channels="{{ product.notify_availability.channels|join(',') }}"
                            subscribed-options="{{ product.notify_availability.subscribed_options|json_encode }}"
                            {{ product.notify_availability.options ? 'notify-options-availability' : '' }}
                        {% endif %}>
                        <i class="bi bi-cart-fill"></i> {{ product.add_to_cart_label }}
                    </salla-add-product-button>
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{# {% block scripts %}
    <script defer src="{{ 'product.js' | asset }}"></script>
    {% if product.has_3d_image %}
        <script type="module" defer src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    {% endif %}
{% endblock %} #}