{# <footer class="store-footer">
	<div aria-label="footer" class="store-footer__inner">
		<div class="container grid grid-col-1 lg:grid-cols-6 gap-8 lg:gap-6">
			<div class="lg:col-span-2 rtl:lg:pl-20 ltr:lg:pr-20">
				<a href="{{ link('/') }}" class="flex items-center m-0">
					<h3>{{store.name}}</h3>
				</a>
				{% if store.description %}
					<p class="max-w-sm leading-6 mb-6">
						{{ store.description|raw }}
					</p>
				{% endif %}

				<div class="hidden lg:block">
					<salla-social class="mb-6"></salla-social>
				</div>


          {% if store.settings.tax.number %}
            <div class="flex rtl:space-x-reverse space-x-2 items-end">
              {% if store.settings.tax.certificate %}
                <a class="load-img-onclick" data-modal-id="modal-value-tax" href="#/" alt="{{ store.settings.tax.number }}">
                  <img width="100%" height="100%" src="{{ 'images/s-empty.png' | cdn }}" data-src="{{'images/tax.png' | cdn(70,70)}}" class="lazy w-10 rounded-sm hover:opacity-80 transition-opacity" alt="value added tax">
                </a>
              {% endif %}
              <div>
                <p class="text-sm text-text-grey mb-1">{{ trans('common.elements.tax_number') }}</p>
                <b class="text-sm">{{ store.settings.tax.number }}</b>
              </div>
            </div>

            {% if store.settings.tax.certificate %}
              <salla-modal sub-title-first sub-title="{{ trans('common.elements.tax_number') }}" modal-title="{{ store.settings.tax.number }}" id="modal-value-tax">
                <div class="flex justify-center max-w-full">
                  <img class="w-full" loading="lazy" 
                  src="{{ 'images/s-empty.png' | cdn }}" 
                  data-src="{{ store.settings.tax.certificate }}" 
                  alt="{{ store.settings.tax.number }}"/>
                </div>
              </salla-modal>
            {% endif %}
          {% endif %}
        </div>

			<div>
				<h3>{{ trans('blocks.footer.pages_links') }}</h3>
				<salla-menu source="footer"></salla-menu>
			</div>

			<div>
				<salla-contacts></salla-contacts>

				<div class="lg:hidden contact-social">
					<salla-social></salla-social>
				</div>
			</div>

			<salla-apps-icons class="lg:col-span-2 rtl:lg:pr-20 ltr:lg:pl-20"></salla-apps-icons>

		</div>
	</div>

	<div class="md:flex items-center justify-between py-4 container text-center">
		<span class="text-sm copyright-text">{% hook copyright %}</span>
		<salla-payments {% if store.settings.certificate %} with-sbc sbc-id="{{ store.settings.certificate.id }}" {% endif %} {{store.settings.made_in_ksa ? 'with-made-in-ksa' : ''}}></salla-payments>
	</div>
</div>

<span class="hidden bottom-2 rtl:pl-24 ltr:pr-24 md:grid-cols-3"></span></footer> #}

<div class="container-fluid bg-primary footerContainer">
    <div class="row justify-content-evenly">
        <div class="col-md-5 col-lg-2 my-1 my-md-3 my-lg-5">
            <ul class="wrapper">
                <li class="icon instagram">
                    <span class="tooltip">Instagram</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="1.6em"
                        fill="currentColor"
                        class="bi bi-instagram"
                        viewBox="0 0 16 16"
                    >
                        <path
                        d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
                        ></path>
                    </svg>
                </li>
                <li class="icon facebook" style="padding: 15px;">
                    <span class="tooltip">Facebook</span>
                    <svg
                    viewBox="0 0 320 512"
                    height="1.6em"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <path
                        d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                    ></path>
                    </svg>
                </li>
                <li class="icon twitter">
                    <span class="tooltip">Twitter</span>
                    <svg
                    height="1.6em"
                    fill="currentColor"
                    viewBox="0 0 48 48"
                    xmlns="http://www.w3.org/2000/svg"
                    class="twitter"
                    >
                    <path
                        d="M42,12.429c-1.323,0.586-2.746,0.977-4.247,1.162c1.526-0.906,2.7-2.351,3.251-4.058c-1.428,0.837-3.01,1.452-4.693,1.776C34.967,9.884,33.05,9,30.926,9c-4.08,0-7.387,3.278-7.387,7.32c0,0.572,0.067,1.129,0.193,1.67c-6.138-0.308-11.582-3.226-15.224-7.654c-0.64,1.082-1,2.349-1,3.686c0,2.541,1.301,4.778,3.285,6.096c-1.211-0.037-2.351-0.374-3.349-0.914c0,0.022,0,0.055,0,0.086c0,3.551,2.547,6.508,5.923,7.181c-0.617,0.169-1.269,0.263-1.941,0.263c-0.477,0-0.942-0.054-1.392-0.135c0.94,2.902,3.667,5.023,6.898,5.086c-2.528,1.96-5.712,3.134-9.174,3.134c-0.598,0-1.183-0.034-1.761-0.104C9.268,36.786,13.152,38,17.321,38c13.585,0,21.017-11.156,21.017-20.834c0-0.317-0.01-0.633-0.025-0.945C39.763,15.197,41.013,13.905,42,12.429"
                    ></path>
                    </svg>
                </li>
                <li class="icon youtube">
                    <span class="tooltip">Youtube</span>
                    <svg fill="#000000" height="1.6em" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 209.673 209.673" xml:space="preserve">
                        <g>
                            <path d="M173.075,29.203H36.599C16.418,29.203,0,45.626,0,65.812v78.05c0,20.186,16.418,36.608,36.599,36.608h136.477
                                c20.18,0,36.598-16.422,36.598-36.608v-78.05C209.673,45.626,193.255,29.203,173.075,29.203z M194.673,143.861
                                c0,11.915-9.689,21.608-21.598,21.608H36.599c-11.91,0-21.599-9.693-21.599-21.608v-78.05c0-11.915,9.689-21.608,21.599-21.608
                                h136.477c11.909,0,21.598,9.693,21.598,21.608V143.861z"/>
                            <path d="M145.095,98.57L89.499,61.92c-2.303-1.519-5.254-1.649-7.684-0.342c-2.429,1.308-3.944,3.845-3.944,6.604v73.309
                                c0,2.759,1.515,5.295,3.944,6.604c1.113,0.6,2.336,0.896,3.555,0.896c1.442,0,2.881-0.415,4.129-1.239l55.596-36.659
                                c2.105-1.388,3.372-3.74,3.372-6.262C148.467,102.31,147.2,99.958,145.095,98.57z M92.871,127.562V82.109l34.471,22.723
                                L92.871,127.562z"/>
                        </g>
                    </svg>
                </li>
            </ul>  
            <p class="text-light text-center ps-4" style="font-size: small;">2021 CoinMarketCap.&copy; All rights reserved</p>                
        </div>
        <div class="col-md-5 col-lg-2 my-1 my-md-3 my-lg-5">
            <h5 style="color: white;">About Us</h5>
            <a href="#" class="foot my-1 my-md-3 d-block">About</a>
            <a href="#" class="foot my-1 my-md-3 d-block">Careers</a>
            <a href="#" class="foot my-1 my-md-3 d-block">Blog</a>
            <a href="#" class="foot my-1 my-md-3 d-block">Legal&Privacy</a>
        </div>
        <div class="col-md-5 col-lg-2 my-1 my-md-3 my-lg-5">
            <h5 style="color: white;">Services</h5>
            <a href="#" class="foot my-1 my-md-3 d-block">Applications</a>
            <a href="#" class="foot my-1 my-md-3 d-block">Buy Crypto</a>
            <a href="#" class="foot my-1 my-md-3 d-block">Affilliate</a>
            <a href="#" class="foot my-1 my-md-3 d-block">Institutional Services</a>
        </div>
        <div class="col-md-5 col-lg-2 my-1 my-md-3 my-lg-5">
            <h5 style="color: white;">Learn</h5>
            <a href="#" class="foot my-1 my-md-3 d-block">What is Cryptocurrency?</a>
            <a href="#" class="foot my-1 my-md-3 d-block">Crypto Basic</a>
            <a href="#" class="foot my-1 my-md-3 d-block">Tips and Tutorials</a>
            <a href="#" class="foot my-1 my-md-3 d-block">Market Update</a>
        </div>
    </div>
</div>
